# Prototype/test using
# kubectl run -i --tty --rm debug --image=rockylinux/rockylinux:9.5 --restart=Never -- bash
#   https://github.com/stackhpc/ansible-slurm-appliance.git
#   main - v1.155 doesn't have sync-pulp!

apiVersion: batch/v1
kind: Job
metadata:
  generateName: pulp-repo-sync-
  namespace: "{{ azimuth_caas_pulp_namespace }}"
# TODO: do we run this in the pulp namespace?
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: pulp-repo-sync
        image: rockylinux/rockylinux:9.5 # TODO: can we replace this with whatever the execution environment is??
        envFrom:
          - configMapRef:
              name: pulp-sync-config
          - secretRef:
              name: pulp-sync-secret
        command: ["bash",  "-c", "--"]
        args:
        - |
          dnf install -y git python39
          git clone {{ azimuth_caas_stackhpc_slurm_appliance_git_url }}
          cd ansible-slurm-appliance
          git checkout {{ azimuth_caas_stackhpc_slurm_appliance_git_version }}
          ./dev/setup-env.sh
          . venv/bin/activate
          # don't have an activate script in caas environment:
          export ANSIBLE_INVENTORY=environments/common/inventory,environments/.caas/inventory
          ansible-playbook -v ansible/adhoc/sync-pulp.yml -e ansible_python_interpreter="/ansible-slurm-appliance/venv/bin/python3"
      # FIXME: above why do we need to specify interpreter, is the environment odd?
  backoffLimit: 6
  podFailurePolicy:
    rules:
    - action: FailJob
      onExitCodes:
        operator: NotIn
        values: [0]
    - action: Ignore             # one of: Ignore, FailJob, Count
      onPodConditions:
      - type: DisruptionTarget   # indicates Pod disruption
      

# # looks like we need to set:
# pulp_site_url:
# pulp_site_port: # although squeezer doesn't take this?
# pulp_site_username
# pulp_site_password
# _cache_dir ?