apiVersion: batch/v1
kind: Job
metadata:
  name: pulp-repo-sync-{{ item | replace('.', '-') }}
  namespace: "{{ azimuth_caas_pulp_namespace }}"
# TODO: do we run this in the pulp namespace?
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: pulp-repo-sync
        image: rockylinux/rockylinux:9.5
        env:
          - name: appliances_pulp_url
            value: "http://{{ _pulp_api_service.spec.clusterIP }}:{{ _pulp_api_service.spec.ports[0].port }}"
          - name: pulp_site_target_distribution_version
            value: "{{ item }}"
          - name: pulp_site_target_distribution_version_major
            value: "{{ item | split('.') | first }}"
        envFrom:
          - secretRef:
              name: pulp-sync-secret
        command: ["bash",  "-c", "--"]
        args:
        - |
          dnf install -y git python39
          git clone {{ azimuth_caas_stackhpc_slurm_appliance_git_url }}
          cd ansible-slurm-appliance
          git checkout {{ azimuth_caas_stackhpc_slurm_appliance_git_version }}
          ./dev/setup-env.sh
          . venv/bin/activate
          # don't have an activate script in caas environment:
          export ANSIBLE_INVENTORY=environments/common/inventory,environments/.caas/inventory
          ansible-playbook -v ansible/adhoc/sync-pulp.yml -e ansible_python_interpreter="/ansible-slurm-appliance/venv/bin/python3"
      # FIXME: above why do we need to specify interpreter, is the environment odd?
  backoffLimit: 6
  podFailurePolicy:
    rules:
    - action: FailJob
      onExitCodes:
        operator: NotIn
        values: [0]
    - action: Ignore
      onPodConditions:
      - type: DisruptionTarget   # indicates Pod disruption
