# Prototype/test using
# kubectl run -i --tty --rm debug --image=rockylinux/rockylinux:9.5 --restart=Never -- bash
#   https://github.com/stackhpc/ansible-slurm-appliance.git
#   main - v1.155 doesn't have sync-pulp!

apiVersion: batch/v1
kind: Job
metadata:
  name: pulp_sync
# TODO: do we run this in the pulp namespace?
spec:
  template:
    spec:
      containers:
      - name: pulp_sync
        image: rockylinux/rockylinux:9.5 # TODO: can we replace this with whatever the execution environment is??
        envFrom:
          - configMapRef:
              name: pulp-sync-cfg
          - secretRef:
              name: pulp-sync-secret
        command: ["bash",  "-c"]
        args:
        - |
          dnf install -y git python39
          git clone {{ azimuth_caas_stackhpc_slurm_appliance_git_url }}
          cd ansible-slurm-appliance
          git checkout {{ azimuth_caas_stackhpc_slurm_appliance_git_version }}
          ./dev/setup-env.sh
          . venv/bin/activate
          . environments/.caas/activate
          ansible-playbook -v ansible/adhoc/sync-pulp.yml
      restartPolicy: Never
  backoffLimit: 4

# looks like we need to set:
pulp_site_url:
pulp_site_port: # although squeezer doesn't take this?
pulp_site_username
pulp_site_password
_cache_dir ?