---

- block:
    - name: Update apt cache
      apt:
        update_cache: true
      register: cache_updated
      changed_when: false
      until:
        - cache_updated is success

    - name: Ensure required packages are available
      apt:
        name:
          - python3-pip
          - qemu-utils
        state: present

    - name: Ensure OpenStack CLI (and SDK) are available
      pip:
        name: python-openstackclient
        executable: pip3

    - name: Install cosign
      shell: |
        curl -O -L "https://github.com/sigstore/cosign/releases/latest/download/cosign-linux-amd64"
        mv cosign-linux-amd64 /usr/local/bin/cosign
        chmod +x /usr/local/bin/cosign
      args:
        creates: "/usr/local/bin/cosign"
  become: yes

- name: Ensure OpenStack config directory exists
  file:
    path: "{{ community_images_os_config_dir }}"
    state: directory

- name: Install OpenStack credentials
  copy:
    content: "{{ lookup('file', community_images_os_clouds_file_local) }}"
    dest: "{{ community_images_os_clouds_file }}"

- include_tasks:
    file: upload_image_and_store_id.yml
    apply:
      environment:
        OS_CLOUD: "{{ community_images_os_cloud }}"
        OS_CLIENT_CONFIG_FILE: "{{ community_images_os_clouds_file }}"
  loop: "{{ community_images | dict2items | list }}"
  loop_control:
    label: "{{ item.value.name }}"

- name: Export community_images fact so it can be consumed from other roles
  set_fact:
    community_images: "{{ community_images }}"
