---

# The namespace to install Keycloak in
keycloak_namespace: keycloak-system

# The name for the Keycloak instance
keycloak_name: keycloak

# The labels for the Keycloak instance
keycloak_labels:
  app.kubernetes.io/managed-by: azimuth-ops

# Keycloak database configuration
#   Settings for an external database
#     The JDBC URL for an external database
keycloak_external_db_url:
#     The username and password for an external database
keycloak_external_db_user:
keycloak_external_db_password:
#     The name of the secret to put the external database credentials in
keycloak_external_db_secret_name: "{{ keycloak_name }}-postgresql-auth"
#   Settings for an internal database
#     The name of the database resource
keycloak_database_name: "{{ keycloak_name }}-db"
#     The storage class to use for the database volume
#     If left blank, the default storage class will be used
keycloak_database_data_volume_storage_class:
#     The storage class to use for the backup volume
#     By default, this is the same as the data volume
keycloak_database_backup_volume_storage_class: "{{ keycloak_database_data_volume_storage_class }}"
#     The size of the data volume for the database
keycloak_database_data_volume_size: 8Gi
#     The size of the backup volume for the database
#     By default, this is the same as the data volume
keycloak_database_backup_volume_size: "{{ keycloak_database_data_volume_size }}"

# Custom trust bundle for SSL verification
keycloak_trust_bundle: "{{ system_trust_ca_bundle | default('') }}"
keycloak_trust_bundle_secret_name: "{{ keycloak_name }}-trust-bundle"

# The spec for the Keycloak instance
keycloak_spec_defaults:
  instances: 1
  # This is OK because we are behind an ingress that is handling TLS
  http:
    httpEnabled: true
  hostname:
    hostname: "{{ keycloak_base_url }}"
    strict: false
    strictBackchannel: false
  db: >-
    {{-
      {
        "usernameSecret": {
          "name": (
            keycloak_external_db_secret_name
            if keycloak_external_db_url
            else (keycloak_database_name ~ "-pguser-" ~ keycloak_database_name)
          ),
          "key": "user",
        },
        "passwordSecret": {
          "name": (
            keycloak_external_db_secret_name
            if keycloak_external_db_url
            else (keycloak_database_name ~ "-pguser-" ~ keycloak_database_name)
          ),
          "key": "password",
        }
      } |
        combine(
          { "url": keycloak_external_db_url }
          if keycloak_external_db_url
          else {
            "vendor": "postgres",
            "host": keycloak_database_name ~ "-primary." ~ keycloak_namespace,
            "port": 5432,
            "database": keycloak_database_name,
          }
        )
    }}
  # Configure Keycloak to respect the xforwarded headers from the ingress controller
  proxy:
    headers: xforwarded
  # We will do our own ingress with TLS annotations
  ingress:
    enabled: false
  # Add the trust bundle if specified
  truststores: >-
    {{
      {
        "trust-bundle": {
          "secret": {
            "name": keycloak_trust_bundle_secret_name,
          },
        },
      }
      if keycloak_trust_bundle
      else {}
    }}
  additionalOptions:
    - name: metrics-enabled
      value: "true"
keycloak_spec_overrides: {}
keycloak_spec: "{{ keycloak_spec_defaults | combine(keycloak_spec_overrides, recursive = True) }}"

# Details for the Keycloak ingress
#   The name of the ingress
keycloak_ingress_name: "{{ keycloak_name }}"
#   The name of the ingress class to use
keycloak_ingress_class: nginx
#   The hostname to use for the ingress resource
keycloak_ingress_host: >-
  {{-
    "{}.{}".format(ingress_keycloak_subdomain, ingress_base_domain)
    if ingress_keycloak_subdomain is defined and ingress_base_domain is defined
    else undef(hint = 'keycloak_ingress_host is required')
  }}
#   Any default annotations for the ingress
keycloak_ingress_annotations_defaults: "{{ ingress_annotations | default({}) }}"
#   Any extra annotations for the ingress
keycloak_ingress_annotations_overrides: {}
#   Indicates whether TLS should be enabled
keycloak_ingress_tls_enabled: "{{ ingress_tls_enabled | default(True) }}"
#   The TLS secret name (can be null)
keycloak_ingress_tls_secret_name: "{{ ingress_tls_secret_name | default('keycloak-tls', True) }}"
#   Any TLS-specific annotations
keycloak_ingress_tls_annotations: "{{ ingress_tls_annotations | default({}) }}"
#   Wildcard TLS certificate, if available
keycloak_ingress_tls_certificate: "{{ ingress_tls_wildcard_certificate | default(None) }}"
keycloak_ingress_tls_key: >-
  {{-
    ingress_tls_wildcard_key
    if ingress_tls_wildcard_key is defined
    else undef(hint = 'keycloak_ingress_tls_key is required')
  }}
#   The overall annotations for the the ingress
keycloak_ingress_annotations: >-
  {{-
    keycloak_ingress_annotations_defaults |
      combine(
        keycloak_ingress_tls_annotations
        if keycloak_ingress_tls_enabled and not keycloak_ingress_tls_certificate
        else {}
      ) |
      combine(keycloak_ingress_annotations_overrides)
  }}
#   The spec for the Keycloak ingress
keycloak_ingress_spec_defaults: >-
  {{-
    {
      "ingressClassName": keycloak_ingress_class,
      "rules": [
        {
          "host": keycloak_ingress_host,
          "http": {
            "paths": [
              {
                "path": "/",
                "pathType": "Prefix",
                "backend": {
                  "service": {
                    "name": keycloak_name ~ "-service",
                    "port": {
                      "number": 8080,
                    },
                  },
                },
              },
            ],
          },
        },
      ],
    } | combine(
      {
        "tls": [
          {
            "hosts": [keycloak_ingress_host],
            "secretName": keycloak_ingress_tls_secret_name,
          }
        ]
      }
      if keycloak_ingress_tls_enabled
      else {}
    )
  }}
keycloak_ingress_spec_overrides: {}
keycloak_ingress_spec: >-
  {{-
    keycloak_ingress_spec_defaults |
      combine(keycloak_ingress_spec_overrides, recursive = True)
  }}

# The version of the Keycloak operator to install
keycloak_operator_version: 26.2.3
# The base URL for the Keycloak operator manifests
keycloak_operator_base_url: https://raw.githubusercontent.com/keycloak/keycloak-k8s-resources

# The URLs of the Keycloak operator manifests
keycloak_operator_manifests:
  - "{{ keycloak_operator_base_url }}/{{ keycloak_operator_version }}/kubernetes/keycloaks.k8s.keycloak.org-v1.yml"
  - "{{ keycloak_operator_base_url }}/{{ keycloak_operator_version }}/kubernetes/keycloakrealmimports.k8s.keycloak.org-v1.yml"
  - "{{ keycloak_operator_base_url }}/{{ keycloak_operator_version }}/kubernetes/kubernetes.yml"

# List of patches to apply to the Keycloak operator manifests
keycloak_operator_patches:
  # Remove the version label from the deployment selector
  # The selector is immutable, so this causes problems at upgrade time
  # In any case, the selector should select pods at all versions
  - patch: |-
      - op: replace
        path: /spec/selector/matchLabels
        value:
          app.kubernetes.io/name: keycloak-operator
    target:
      kind: Deployment
      name: keycloak-operator

# The kustomization to use for Keycloak operator resources
keycloak_operator_kustomization:
  namespace: "{{ keycloak_namespace }}"
  resources: "{{ keycloak_operator_manifests }}"
  patches: "{{ keycloak_operator_patches }}"

# Use a directory in $HOME for the kustomization by default
keycloak_operator_kustomization_directory: "{{ (ansible_env.HOME, 'keycloak-operator') | path_join }}"

# List of resources to watch for completeness
keycloak_operator_watches:
  - kind: deployment
    namespace: "{{ keycloak_namespace }}"
    name: keycloak-operator
    condition: Available

# The Keycloak admin username
keycloak_admin_username: admin
# The Keycloak admin password
keycloak_admin_password: "{{ undef(hint = 'keycloak_admin_password is not defined') }}"

# The name of the secret that we will store the admin creds in
keycloak_admin_creds_secret_name: "{{ keycloak_name }}-admin-creds"
# The name of the secret containing the initial admin password
keycloak_initial_admin_secret_name: "{{ keycloak_name }}-initial-admin"
# The bootstrap admin username
keycloak_bootstrap_admin_username: "temp-admin"

# The base URL of Keycloak
keycloak_base_url: >-
  {{-
    "{}://{}".format(
      'https' if keycloak_ingress_tls_enabled else 'http',
      keycloak_ingress_host
    )
  }}

# Path to a CA file to use when talking to the Keycloak API
keycloak_ca_path: /etc/ssl/certs/ca-certificates.crt
# Whether or not to validate SSL certificates when talking to the Keycloak API
keycloak_validate_certs: yes
