---

- name: Fail if legacy authentication settings are defined
  fail:
    msg: |
      Legacy authentication parameters detected in environment.
      Please consult the docs and update your configuration accordingly.
  when: >-
    azimuth_authenticators is defined or
    azimuth_authenticators_extra is defined

- name: Create Azimuth release namespace
  command: kubectl create namespace {{ azimuth_release_namespace }}
  register: azimuth_create_namespace
  changed_when: azimuth_create_namespace.rc == 0
  failed_when: >-
    azimuth_create_namespace.rc != 0 and
    'AlreadyExists' not in azimuth_create_namespace.stderr

- name: Install wildcard TLS certificate
  command: kubectl apply -f -
  args:
    stdin: "{{ azimuth_ingress_tls_wildcard_secret_definition | to_nice_yaml }}"
  vars:
    azimuth_ingress_tls_wildcard_secret_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ azimuth_ingress_tls_secret_name }}"
        namespace: "{{ azimuth_release_namespace }}"
      type: kubernetes.io/tls
      stringData:
        tls.crt: "{{ azimuth_ingress_tls_certificate }}"
        tls.key: "{{ azimuth_ingress_tls_key }}"
  when: azimuth_ingress_tls_certificate

- name: Install Azimuth on target Kubernetes cluster
  kubernetes.core.helm:
    chart_ref: "{{ azimuth_chart_name }}"
    chart_repo_url: "{{ azimuth_chart_repo }}"
    chart_version: "{{ azimuth_chart_version }}"
    release_namespace: "{{ azimuth_release_namespace }}"
    release_name: "{{ azimuth_release_name }}"
    release_values: "{{ azimuth_release_values }}"
    atomic: yes
    create_namespace: yes
    wait: yes
    wait_timeout: "{{ azimuth_wait_timeout }}"

- name: List CaaS clusters
  command: kubectl get clusters.caas -A -o json
  register: azimuth_caas_clusters_list
  when: azimuth_clusters_enabled

- name: Move clusters that are in old-style namespaces
  include_tasks:
    file: move-caas-cluster.yml
  when: azimuth_clusters_enabled
  loop: >-
    {{
      azimuth_caas_clusters_list.stdout |
        from_json |
        json_query('items') |
        selectattr('metadata.namespace', 'search', '^caas-')
    }}
  loop_control:
    loop_var: cluster
    label: "{{ cluster.metadata.namespace }}/{{ cluster.metadata.name }}"

- block:
    - debug:
        msg: "Azimuth UI available at {{ scheme }}://{{ host }}"

    - name: Write Azimuth URL to env file on localhost
      local_action:
        module: ansible.builtin.copy
        content: >-
          AZIMUTH_URL="{{ scheme }}://{{ host }}"
        dest: "{{ azimuth_url_envfile }}"
      when: azimuth_url_envfile != ""
      vars:
        azimuth_url_envfile: "{{ lookup('env', 'AZIMUTH_URL_ENVFILE') }}"
  vars:
    scheme: "{{ 'https' if azimuth_ingress_tls_enabled else 'http' }}"
    host: "{{ azimuth_ingress_host }}"
