---
# Terraform states are compressed, so fetch it as base64
# It just so happens this is exactly what we need to put in the secret anyway
# yamllint disable-line rule:line-length
- name: Find TF state in Consul by ID - {{ azimuth_caas_operator_cluster_info.metadata.namespace }}/{{ azimuth_caas_operator_cluster_info.metadata.name }}  # noqa name[template]
  ansible.builtin.command: >-
    kubectl exec {{ azimuth_caas_operator_consul_release_name }}-server-0
      --namespace {{ azimuth_caas_operator_consul_release_namespace }}
      --
      consul kv get -base64 cluster/{{ azimuth_caas_operator_cluster_info.status.clusterID }}/tfstate
  vars:
    azimuth_caas_operator_consul_release_name: "{{ consul_release_name | default('consul') }}"
    azimuth_caas_operator_consul_release_namespace: >-
      {{
        consul_release_namespace |
          default(azimuth_release_namespace) |
          default('azimuth')
      }}
  changed_when: false
  register: azimuth_caas_operator_tf_state

# yamllint disable-line rule:line-length
- name: Write TF state to Kubernetes secret - {{ azimuth_caas_operator_cluster_info.metadata.namespace }}/{{ azimuth_caas_operator_cluster_info.metadata.name }}  # noqa name[template]
  ansible.builtin.command: kubectl apply -f -
  args:
    stdin: "{{ azimuth_caas_operator_tf_secret_definition | to_nice_yaml }}"
  vars:
    azimuth_caas_operator_tf_secret_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "tfstate-default-{{ azimuth_caas_operator_cluster_info.metadata.name }}"
        namespace: "{{ azimuth_caas_operator_cluster_info.metadata.namespace }}"
        annotations:
          encoding: gzip
        labels:
          app.kubernetes.io/managed-by: terraform
          caas.azimuth.stackhpc.com/cluster-id: >-
            {{ azimuth_caas_operator_cluster_info.status.clusterID }}
          tfstate: "true"
          tfstateSecretSuffix: "{{ azimuth_caas_operator_cluster_info.metadata.name }}"
          tfstateWorkspace: default
      type: Opaque
      data:
        tfstate: "{{ azimuth_caas_operator_tf_state.stdout }}"
  register: kubectl_write_tf_state_to_secret
  changed_when: kubectl_write_tf_state_to_secret.stdout_lines | select('match', '(?!.*unchanged$)') | length > 0
