---

# We need to copy states from Consul to Kubernetes secrets
- block:
    - name: List CaaS clusters
      command: kubectl get clusters.caas --all-namespaces --output json
      changed_when: false
      register: azimuth_caas_operator_list_clusters

    - include_tasks: copy_tf_state.yml
      loop: >-
        {{-
          azimuth_caas_operator_list_clusters.stdout |
            from_json |
            json_query('items')
        }}
      loop_control:
        loop_var: azimuth_caas_operator_cluster_info
        label: >-
          {{-
            azimuth_caas_operator_cluster_info.metadata.namespace ~
            "/" ~
            azimuth_caas_operator_cluster_info.metadata.name
          }}
  when:
    - consul_server_host is defined
    - consul_server_port is defined

- name: Install Azimuth CaaS operator on target Kubernetes cluster
  kubernetes.core.helm:
    chart_ref: "{{ azimuth_caas_operator_chart_name }}"
    chart_repo_url: "{{ azimuth_caas_operator_chart_repo }}"
    chart_version: "{{ azimuth_caas_operator_chart_version }}"
    release_namespace: "{{ azimuth_caas_operator_release_namespace }}"
    release_name: "{{ azimuth_caas_operator_release_name }}"
    release_values: "{{ azimuth_caas_operator_release_values }}"
    atomic: true
    create_namespace: true
    wait: true
    wait_timeout: "{{ azimuth_caas_operator_wait_timeout }}"

- name: Install Azimuth CaaS cluster templates
  command: kubectl apply -f -
  args:
    stdin: "{{ template_definition | to_nice_yaml }}"
  vars:
    template_definition:
      apiVersion: caas.azimuth.stackhpc.com/v1alpha1
      kind: ClusterType
      metadata:
        name: "{{ template.name }}"
        annotations: "{{ template.config.annotations | default({}) }}"
      # This allows old-style templates to still work
      spec: "{{ template.config.spec | default(template.config) }}"
  loop: >-
    {{-
      azimuth_caas_cluster_templates |
        dict2items(key_name = 'name', value_name = 'config')
    }}
  loop_control:
    loop_var: template
    label: "{{ template.name }}"

- name: Update secrets for Azimuth CaaS ssh key
  command: kubectl apply -f -
  args:
    stdin: "{{ secret_definition | to_nice_yaml }}"
  vars:
    secret_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ azimuth_caas_operator_default_ssh_secret_name }}"
        namespace: "{{ azimuth_caas_operator_default_ssh_secret_namespace }}"
      type: Opaque
      data: "{{ azimuth_caas_operator_default_ssh_secret_files }}"
  when: azimuth_caas_operator_default_ssh_secret_files

- include_tasks: sync-pulp.yml
  when:
    - azimuth_pulp_enabled
    - azimuth_caas_stackhpc_slurm_appliance_enabled
    # TODO: some flag for we want to enable package installs?
