---

- name: Install Azimuth CaaS operator on target Kubernetes cluster
  kubernetes.core.helm:
    chart_ref: "{{ azimuth_caas_operator_chart_name }}"
    chart_repo_url: "{{ azimuth_caas_operator_chart_repo }}"
    chart_version: "{{ azimuth_caas_operator_chart_version }}"
    release_namespace: "{{ azimuth_caas_operator_release_namespace }}"
    release_name: "{{ azimuth_caas_operator_release_name }}"
    release_values: "{{ azimuth_caas_operator_release_values }}"
    atomic: true
    create_namespace: true
    wait: true
    wait_timeout: "{{ azimuth_caas_operator_wait_timeout }}"

- name: Install Azimuth CaaS cluster templates
  command: kubectl apply -f -
  args:
    stdin: "{{ template_definition | to_nice_yaml }}"
  vars:
    template_definition:
      apiVersion: caas.azimuth.stackhpc.com/v1alpha1
      kind: ClusterType
      metadata:
        name: "{{ template.name }}"
        annotations: "{{ template.config.annotations | default({}) }}"
      # This allows old-style templates to still work
      spec: "{{ template.config.spec | default(template.config) }}"
  loop: >-
    {{-
      azimuth_caas_cluster_templates |
        dict2items(key_name = 'name', value_name = 'config')
    }}
  loop_control:
    loop_var: template
    label: "{{ template.name }}"

- name: Update secrets for Azimuth CaaS ssh key
  command: kubectl apply -f -
  args:
    stdin: "{{ secret_definition | to_nice_yaml }}"
  vars:
    secret_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ azimuth_caas_operator_default_ssh_secret_name }}"
        namespace: "{{ azimuth_caas_operator_default_ssh_secret_namespace }}"
      type: Opaque
      data: "{{ azimuth_caas_operator_default_ssh_secret_files }}"
  when: azimuth_caas_operator_default_ssh_secret_files

- name: Fix up existing clusters for quota check changes
  include_tasks:
    file: quota_checks_fixup.yaml
