---

# The chart to use
azimuth_chart_repo: https://azimuth-cloud.github.io/azimuth
azimuth_chart_name: azimuth
azimuth_chart_version: 0.16.4

# Release information for the Azimuth release
azimuth_release_namespace: azimuth
azimuth_release_name: azimuth

# The timeout to wait for Azimuth to become ready
azimuth_wait_timeout: 10m

# Feature flags
# Indicates if the app proxy should be enabled
azimuth_apps_enabled: true

# Indicates if Cluster-as-a-Service should be enabled
azimuth_clusters_enabled: true

# Indicates if Kubernetes clusters should be enabled
azimuth_kubernetes_enabled: true

# Ingress settings
# The hostname to use for the ingress resource
azimuth_ingress_host: >-
  {{-
    "{}.{}".format(ingress_azimuth_portal_subdomain, ingress_base_domain)
    if ingress_azimuth_portal_subdomain is defined and ingress_base_domain is defined
    else undef(hint = 'azimuth_ingress_host is required')
  }}

# Any annotations for the ingress
azimuth_ingress_annotations: "{{ ingress_annotations | default({}) }}"

# Indicates whether TLS should be enabled
azimuth_ingress_tls_enabled: "{{ ingress_tls_enabled | default(True) }}"

# The TLS secret name (can be null)
azimuth_ingress_tls_secret_name: "{{ ingress_tls_secret_name | default(None) }}"

# Any TLS-specific annotations
azimuth_ingress_tls_annotations: "{{ ingress_tls_annotations | default({}) }}"

# Wildcard TLS certificate, if available
azimuth_ingress_tls_certificate: "{{ ingress_tls_wildcard_certificate | default(None) }}"
azimuth_ingress_tls_key: >-
  {{-
    ingress_tls_wildcard_key
    if ingress_tls_wildcard_key is defined
    else undef(hint = 'azimuth_ingress_tls_key is required')
  }}

# Custom trust bundle for SSL verification
azimuth_trust_bundle: "{{ system_trust_ca_bundle | default('') }}"

# The Django secret key, used mainly for ensuring session cookies are not tampered with
azimuth_secret_key: "{{ undef(hint='azimuth_secret_key is required') }}"

# Settings for the available clouds
# List of linked clouds - each item should contain name, label and url
azimuth_linked_clouds: []
# The name of this cloud
azimuth_current_cloud_name: "{{ undef(hint='azimuth_current_cloud_name is required') }}"

# The label for this cloud
azimuth_current_cloud_label: >-
  {{ azimuth_current_cloud_name | regex_replace('[^a-z0-9]+', ' ') | capitalize }}

# toggle for metrics
azimuth_metrics: true

# Settings for the metrics dashboards, if available
# By default, these are provided by the cloud_metrics role
azimuth_metrics_cloud_metrics_url: >-
  {{-
    cloud_metrics_grafana_home_dashboard_url
    if cloud_metrics_grafana_home_dashboard_url is defined
    else None
  }}
azimuth_metrics_tenant_metrics_url_template: >-
  {{-
    cloud_metrics_grafana_tenant_dashboard_url_template
    if cloud_metrics_grafana_tenant_dashboard_url_template is defined
    else None
  }}

# The documentation URL
# By default, we use the generic Azimuth docs
azimuth_documentation_url: https://azimuth-cloud.github.io/azimuth-user-docs/
azimuth_support_url:
# A list of curated sizes, mapping a flavor ID to an alternative name and description
# If no sizes are given, the sizes returned by the cloud provider are used
azimuth_curated_sizes: []
# - # The ID of the flavor in the target cloud
#   id: "<id>"
#   # (OPTIONAL) The alternative name
#   name: "<name>"
#   # (OPTIONAL) The alternative description
#   # This is treated as a template with access to the "cpus", "ram", "disk"
#   # and "ephemeral_disk" for the target flavor, already formatted with units
#   # WARNING: To avoid Ansible trying to render the template, it must be wrapped in {% raw %}
#   description: >-
#     {% raw %}{{ cpus }} CPUs, {{ ram }} RAM, {{ disk }} disk, {{ ephemeral_disk }} ephemeral disk{% endraw %}

azimuth_coral_credits_uri: "{{ hostvars[groups.azimuth_deploy.0].coral_credits_uri }}"
azimuth_coral_credits_secret_name: coral-token
azimuth_coral_credits_secret_key: token

azimuth_coral_credits: >-
  {{-
    {} |
       combine({
         "uri": azimuth_coral_credits_uri,
         "tokenSecretRef": {
           "name": azimuth_coral_credits_secret_name,
           "namespace": azimuth_release_namespace,
           "key": azimuth_coral_credits_secret_key
         }
       }
       if coral_credits_enabled
       else {})
  }}

# The authentication type to use - oidc and openstack are supported
azimuth_authentication_type: openstack

# Settings for OIDC authentication
#   The name of the identity realm to create for Azimuth users
#   This will result in a realm in Keycloak named {namespace}-{name}, e.g. azimuth-users
#   Only used if azimuth_oidc_issuer_url is not given
azimuth_oidc_users_realm_name: users
#   The OIDC issuer URL (must support the OIDC discovery specification)
#   If not given, this is set to the issuer URL for the identity realm
azimuth_oidc_issuer_url:
#   The OIDC client ID
#   If an identity realm is being used and no client secret is given, a client is created
#   with this ID using the spec that follows
azimuth_oidc_client_id: azimuth-portal
#   The spec for the OIDC client
#   Used to create an OIDC client when no client secret is given
azimuth_oidc_client_spec:
  # Use the realm that we created
  realmName: "{{ azimuth_oidc_users_realm_name }}"
  # Azimuth uses a confidential client with the authcode grant
  public: false
  grantTypes:
    - AuthorizationCode
  redirectUris: >-
    {{
      ['https://' + azimuth_ingress_host + '/auth/oidc/complete/'] +
      (
        ['http://' + azimuth_ingress_host + '/auth/oidc/complete/']
        if not azimuth_ingress_tls_enabled
        else []
        )
      }}
#   The client secret
#   If not given and an identity realm is being used, a client is created - see above
azimuth_oidc_client_secret: "{{ undef(hint = 'azimuth_oidc_client_secret is required') }}"
#   The scope to use when requesting tokens
azimuth_oidc_scope: "openid profile email groups"
#   The claims to use for the user ID, username, email and groups respectively
azimuth_oidc_userid_claim: sub
azimuth_oidc_username_claim: preferred_username
azimuth_oidc_email_claim: email
azimuth_oidc_groups_claim: groups
#   Indicates whether to verify SSL when talking to the OIDC provider
azimuth_oidc_verify_ssl: true
#   The aggregated settings object for OIDC authentication
azimuth_oidc_authentication:
  issuerUrl: "{{ azimuth_oidc_issuer_url }}"
  scope: "{{ azimuth_oidc_scope }}"
  claims:
    userid: "{{ azimuth_oidc_userid_claim }}"
    username: "{{ azimuth_oidc_username_claim }}"
    email: "{{ azimuth_oidc_email_claim }}"
    groups: "{{ azimuth_oidc_groups_claim }}"
  clientID: "{{ azimuth_oidc_client_id }}"
  clientSecret: "{{ azimuth_oidc_client_secret }}"
  verifySsl: "{{ azimuth_oidc_verify_ssl }}"

# Settings for OpenStack authentication
# The Keystone auth URL
azimuth_openstack_auth_url: "{{ undef(hint='azimuth_openstack_auth_url is required') }}"
# The domain to use when authenticating with OpenStack
azimuth_openstack_domain: default
# The region to use when discovering OpenStack services
azimuth_openstack_region:
# The interface - should rarely need to be changed from the default
azimuth_openstack_interface: public
# Whether or not to verify SSL
azimuth_openstack_verify_ssl: true

# Configuration for the appcred authenticator
# The appcred authenticator is always enabled but hidden by default
# This is useful when using the SDK as automation can be given an appcred
# but the option is not presented to users in the choice form
azimuth_authenticator_appcred_hidden: true

# Configuration for the password authenticator
azimuth_authenticator_password_enabled: true

# Simplified configuration for a single domain
# These variables are not used if azimuth_authenticator_password_domains is specified
azimuth_authenticator_password_domain: "{{ azimuth_openstack_domain }}"
azimuth_authenticator_password_label: "Username + Password"

# The list of domains to make available as authentication options
azimuth_authenticator_password_domains:
  # The name of the domain
  - name: "{{ azimuth_authenticator_password_domain }}"
    # A human-readable label, used in the selection form
    label: "{{ azimuth_authenticator_password_label }}"
# Configuration for the federated authenticator
azimuth_authenticator_federated_enabled: false

# Simplified configuration for a single IDP
# These variables are not used if azimuth_authenticator_federated_identity_providers is specified
azimuth_authenticator_federated_label: "Federated"
azimuth_authenticator_federated_protocol: >-
  {{-
    undef(hint = 'azimuth_authenticator_federated_protocol is required')
    if azimuth_authenticator_federated_enabled
    else None
  }}
azimuth_authenticator_federated_provider:
# The list of identity providers to make available
azimuth_authenticator_federated_identity_providers:
  # The Keystone identity provider and protocol to use
  # The provider is optional, and if it IS NOT given, URLs will be of the form:
  #   <auth url>/auth/OS-FEDERATION/websso/<protocol>
  # If a provider IS given, URLs will be of the following form:
  #   <auth_url>/auth/OS-FEDERATION/identity_providers/<provider>/protocols/<protocol>/websso
  # It is recommended to specify a provider if known, as it redirects straight to the IdP
  # instead of the Keystone selection page
  - protocol: "{{ azimuth_authenticator_federated_protocol }}"
    provider: "{{ azimuth_authenticator_federated_provider }}"
    # A human-readble label for the identity provider, used in the selection form
    label: "{{ azimuth_authenticator_federated_label }}"
# The aggregated settings object for OpenStack auth
azimuth_openstack_authentication: >-
  {{-
    {
      "authUrl": azimuth_openstack_auth_url,
      "interface": azimuth_openstack_interface,
      "verifySsl": azimuth_openstack_verify_ssl,
      "appcred": {
        "hidden": azimuth_authenticator_appcred_hidden,
      },
      "password": {
        "enabled": azimuth_authenticator_password_enabled,
      },
      "federated": {
        "enabled": azimuth_authenticator_federated_enabled,
      },
    } |
      combine(
        { "region": azimuth_openstack_region }
        if azimuth_openstack_region
        else {}
      ) |
      combine(
        (
          {
            "password": {
              "domains": azimuth_authenticator_password_domains,
            },
          }
          if azimuth_authenticator_password_enabled
          else {}
        ),
        recursive = True
      ) |
      combine(
        (
          {
            "federated": {
              "identityProviders": azimuth_authenticator_federated_identity_providers,
            },
          }
          if azimuth_authenticator_federated_enabled
          else {}
        ),
        recursive = True
      )
  }}

# The authentication settings, structured as defaults + overrides
azimuth_authentication_defaults: >-
  {{-
    { "type": azimuth_authentication_type } |
      combine(
        { "openstack": azimuth_openstack_authentication }
        if azimuth_authentication_type == "openstack"
        else {}
      ) |
      combine(
        { "oidc": azimuth_oidc_authentication }
        if azimuth_authentication_type == "oidc"
        else {}
      )
  }}
azimuth_authentication_overrides: {}
azimuth_authentication: >-
  {{-
    azimuth_authentication_defaults |
      combine(azimuth_authentication_overrides, recursive = True)
  }}

# The type of provider to use
# Setting this to "null" disables all cloud functionality, only retaining support
# for deploying onto a pre-configured Kubernetes cluster for each tenant
azimuth_cloud_provider_type: openstack

# OpenStack provider settings
# The template to use when searching for the internal network
# Only used if the internal network is not tagged
# If given, network auto-creation is disabled
# The fragment '{tenant_name}' is replaced with the current tenancy name, e.g. "{tenant_name}-internal"
azimuth_openstack_internal_net_template:
# The template to use when searching for the external network
# Only used if the external network is not tagged
# If not given, there must be exactly one external network available to tenants
# The fragment '{tenant_name}' is replaced with the current tenancy name, e.g. "{tenant_name}-external"
azimuth_openstack_external_net_template:
# If larger than zero, project specific manila share should be auto-created
azimuth_openstack_manila_project_share_gb: 0

# Indicates whether tenant internal networks should be auto-created if not present
azimuth_openstack_create_internal_net: true

# The CIDR to use for auto-created tenant internal networks
azimuth_openstack_internal_net_cidr: 192.168.3.0/24

# The nameservers to set on auto-created tenant internal networks
azimuth_openstack_internal_net_dns_nameservers: []
# Azimuth OpenStack provider configuration
azimuth_openstack_provider: >-
  {{-
    {
      "manilaProjectShareGB": azimuth_openstack_manila_project_share_gb,
      "createInternalNet": azimuth_openstack_create_internal_net,
      "internalNetCidr": azimuth_openstack_internal_net_cidr
    } |
      combine(
        { "internalNetTemplate": azimuth_openstack_internal_net_template }
        if azimuth_openstack_internal_net_template
        else {}
      ) |
      combine(
        { "externalNetTemplate": azimuth_openstack_external_net_template }
        if azimuth_openstack_external_net_template
        else {}
      ) |
      combine(
        { "internalNetDNSNameservers": azimuth_openstack_internal_net_dns_nameservers }
        if azimuth_openstack_internal_net_dns_nameservers | length > 0
        else {}
      )
  }}

# App proxy settings
# The base domain for apps
azimuth_apps_base_domain: >-
  {{-
    ingress_base_domain
    if ingress_base_domain is defined
    else (
      undef(hint = 'azimuth_apps_base_domain is required')
      if azimuth_apps_enabled
      else None
    )
  }}

# Indicates whether SSL should be verified when determining whether a service is ready
azimuth_apps_verify_ssl: true

# Indicates whether SSL should be verified by clients when associating keys with the
# registrar using the external endpoint
# By default, clients will verify SSL when Azimuth itself does
# The exception to this is when custom CAs are specified, as there is currently no mechanism
# for propagating the custom CAs into the trust store of the appliance
azimuth_apps_verify_ssl_clients: >-
  {{-
    azimuth_apps_verify_ssl and
    not (
      (system_trust_extra_root_cas is defined and system_trust_extra_root_cas) or
      (trust_bundle is defined and trust_bundle)
    )
  }}

# The external URL for the Zenith registrar
azimuth_apps_registrar_external_url: >-
  {{-
    zenith_registrar_external_url
    if zenith_registrar_external_url is defined
    else (
      undef(hint = 'azimuth_apps_registrar_external_url is required')
      if azimuth_apps_enabled
      else None
    )
  }}

# The admin URL for the Zenith registrar
azimuth_apps_registrar_admin_url: >-
  {{-
    zenith_registrar_admin_url
    if zenith_registrar_admin_url is defined
    else (
      undef(hint = 'azimuth_apps_registrar_admin_url is required')
      if azimuth_apps_enabled
      else None
    )
  }}

# The Zenith SSHD host
azimuth_apps_sshd_host: >-
  {{-
    zenith_sshd_host
    if zenith_sshd_host is defined
    else (
      undef(hint = 'azimuth_apps_sshd_host is required')
      if azimuth_apps_enabled
      else None
    )
  }}

# The Zenith SSHD port
azimuth_apps_sshd_port: "{{ zenith_sshd_port | default(22) }}"

# The query parameters to add to Zenith URLs when redirecting
# This is used to indicate to Keycloak that the Azimuth IdP should be
# used, since we know that the user is already authenticated with Azimuth
azimuth_apps_query_params:
  kc_idp_hint: >-
    {{-
      azimuth_identity_operator_dex_keycloak_client_alias |
        default('azimuth')
    }}

# Indicates whether the smart scheduling should be enabled
azimuth_scheduling_enabled: false

# Maximum duration users can specify for platforms. Unlimited if
# 0<=
azimuth_max_platform_duration_hours: -1

# Theme settings
# Custom bootstrap CSS URL
azimuth_theme_bootstrap_css_url:
# Custom CSS snippet
azimuth_theme_custom_css:
# The values for the release
azimuth_release_defaults:
  tags:
    apps: "{{ azimuth_apps_enabled }}"
    clusters: "{{ azimuth_clusters_enabled }}"
    kubernetes: "{{ azimuth_kubernetes_enabled }}"
  ingress:
    host: "{{ azimuth_ingress_host }}"
    annotations: "{{ azimuth_ingress_annotations }}"
    tls:
      enabled: "{{ azimuth_ingress_tls_enabled }}"
      secretName: "{{ azimuth_ingress_tls_secret_name }}"
      annotations: "{{ azimuth_ingress_tls_annotations }}"
  trustBundle: "{{ azimuth_trust_bundle }}"
  settings:
    secretKey: "{{ azimuth_secret_key }}"
    availableClouds: "{{ azimuth_linked_clouds }}"
    currentCloud:
      name: "{{ azimuth_current_cloud_name }}"
      label: "{{ azimuth_current_cloud_label }}"
    metrics: >-
      {{-
        {} |
          combine(
            { "cloudMetricsUrl": azimuth_metrics_cloud_metrics_url }
            if azimuth_metrics_cloud_metrics_url
            else {}
          ) |
          combine(
            { "tenantMetricsUrlTemplate": azimuth_metrics_tenant_metrics_url_template }
            if azimuth_metrics_tenant_metrics_url_template
            else {}
          )
      }}
    coralCredits: "{{ azimuth_coral_credits }}"
    documentationUrl: "{{ azimuth_documentation_url }}"
    supportUrl: "{{ azimuth_support_url }}"
    curatedSizes: "{{ azimuth_curated_sizes }}"
  authentication: "{{ azimuth_authentication }}"
  provider: >-
    {{-
      { "type": azimuth_cloud_provider_type } |
        combine(
          { "openstack": azimuth_openstack_provider }
          if azimuth_cloud_provider_type == "openstack"
          else {}
        )
    }}
  apps: >-
    {{-
      {
        "baseDomain": azimuth_apps_base_domain,
        "verifySsl": azimuth_apps_verify_ssl,
        "verifySslClients": azimuth_apps_verify_ssl_clients,
        "sshdHost": azimuth_apps_sshd_host,
        "sshdPort": azimuth_apps_sshd_port,
        "registrarExternalUrl": azimuth_apps_registrar_external_url,
        "registrarAdminUrl": azimuth_apps_registrar_admin_url,
        "queryParams": azimuth_apps_query_params,
      }
      if azimuth_apps_enabled
      else {}
    }}
  scheduling: >-
    {{-
      { "enabled": azimuth_scheduling_enabled } |
        combine(
          { "maxPlatformDurationHours": azimuth_max_platform_duration_hours }
          if azimuth_max_platform_duration_hours > 0 and azimuth_scheduling_enabled
          else {}
        )
    }}
  theme: >-
    {{-
      {} |
        combine(
          { "bootstrapCssUrl": azimuth_theme_bootstrap_css_url }
          if azimuth_theme_bootstrap_css_url
          else {}
        ) |
        combine(
          { "customCss": azimuth_theme_custom_css }
          if azimuth_theme_custom_css
          else {}
        )
    }}
  # Enable the API monitoring by default
  api:
    monitoring:
      enabled: "{{ azimuth_metrics }}"
azimuth_release_overrides: {}
azimuth_release_values: >-
  {{-
    azimuth_release_defaults |
      combine(azimuth_release_overrides, recursive = True)
  }}
