---
apiVersion: v1
kind: Namespace
metadata:
  name: flux-{{ item.name }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ item.name }}
  namespace: flux-{{ item.name }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ item.name }}
  namespace: flux-{{ item.name }}
rules:
  - apiGroups: ['*']
    resources: ['*']
    verbs: ['*']
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ item.name }}
  namespace: flux-{{ item.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ item.name }}
subjects:
- kind: ServiceAccount
  name: {{ item.name }}
  namespace: flux-{{ item.name }}
