---
# The location into which the Terraform files should be templated
terraform_project_path: "{{ inventory_dir }}/.terraform"

# If true, then the outputs from the last deploy are used
infra_readonly: false

# The name of the provisioned node
infra_name: "{{ undef(hint='infra_name is required') }}"

# The exposed port ranges for the provisioned node
infra_exposed_port_ranges: []
# - name:
#   min:
#   max:

#####
# Configuration for the internal network onto which Kubernetes nodes will be provisioned
#
# This can use either a pre-existing network, which should already be connected to an
# external network using a router, or a network and router can be provisioned
#####
# The ID of an existing network onto which the node should be provisioned
# This network should be connected to an external network via a router
# If `infra_use_floatingip` is set to `False` - an infra network
# having connectivity from controllers is required and parameter below is mandatory.
infra_network_id:
# OR
# The CIDR of the subnet that should be created
infra_network_cidr: 192.168.100.0/24
# The MTU of the internal network that should be created
# (will be set to cloud default if left undefined)
infra_network_mtu:
# A list of DNS nameservers to use for the internal network
# (will be set to cloud default if left undefined)
infra_network_dns_nameservers: []
# The ID of the external network to connect to via a router
infra_external_network_id: >-
  {{-
    undef(hint = 'infra_external_network_id is required when infra_network_id is not given')
    if not infra_network_id
    else None
  }}

#####
# Configuration for the accessible endpoint for the seed node
#
# This can use one of:
#   * A provisioning network
#   * A fixed floating IP
#   * A floating IP from a pool
#   * An infra network without exposing any services to public network
#     (Requires value for `infra_network_id` and `infra_use_floatingip: False`)
#
# If none are given, the name of the external network is used as the floating IP pool
#
# In the case where a provisioning network is used, the seed has two NICs - one on the provisioning
# network and one on the internal network above
#####
# Use floating IPs - default, unless infra network is to be used without exposing endpoints in public network.
infra_use_floatingip: true
# The ID of the provisioning network to use
infra_provisioning_network_id:
# OR
# The fixed floating IP to associate with the machine
infra_fixed_floatingip:
# OR
# The name of the floating IP pool
infra_floatingip_pool:
#####
# Configuration for the image to use for the seed node
#
# This can either use an pre-existing image by ID or an image can be uploaded
# The image is uploaded as a private image for the project in which Azimuth is being deployed
# The image can be converted to a different disk format if required for the target cloud
#####
# The ID of a pre-existing the image to use for the node
infra_image_id:
# OR
# The name of the image to upload (should be changed when the image changes)
infra_image_name: ubuntu-jammy-20251001
# The source URL for the image
infra_image_source_url: https://cloud-images.ubuntu.com/releases/jammy/release-20251001/ubuntu-22.04-server-cloudimg-amd64.img
# The disk format of the image as downloaded
infra_image_source_disk_format: qcow2
# The container format for the image
infra_image_container_format: bare

# The ID of the flavor to use for the node
infra_flavor_id: "{{ undef(hint='infra_flavor_id is required') }}"

# Indicates whether to use a root volume for the seed node
# This may be necessary in cases where the root volume is not large enough
# to unpack and convert community images where necessary (40GB should be sufficient)
infra_root_volume_enabled: false
infra_root_volume_size: 40
infra_root_volume_type:
# The size in GB of the data volume
infra_data_volume_size: 100
# The volume type to use for the data volume
infra_data_volume_type:
# The Ansible groups to place the provisioned node into
infra_ansible_groups: []
# We support Ubuntu images only, and the default cloud user is 'ubuntu'
cluster_ssh_user: ubuntu
