apiVersion: velero.io/v1
kind: Schedule
metadata:
  name: {{ velero_backup_schedule_name }}
  namespace: velero
spec:
  schedule: '{{ velero_backup_schedule_timings }}'
  paused: {{ not velero_backup_schedule_enabled }}
  template:
    hooks: {}
    excludedNamespaces:
{% for namespace in velero_backup_exclude_namespaces %}
    - {{ namespace }}
{% endfor %}
    # NOTE(sd109): This defaults to false when
    # `excludedNamespaces` key is present so 
    # need to be explicit here.
    includeClusterResources: true
    metadata: {}
    ttl: {{ velero_backup_schedule_ttl }}
  useOwnerReferencesInBackup: false