---

- name: Create Azimuth identity operator release namespace
  command: kubectl create namespace {{ azimuth_identity_operator_release_namespace }}
  register: azimuth_identity_operator_create_namespace
  changed_when: azimuth_identity_operator_create_namespace.rc == 0
  failed_when: >-
    azimuth_identity_operator_create_namespace.rc != 0 and
    'AlreadyExists' not in azimuth_identity_operator_create_namespace.stderr

- name: Install wildcard TLS certificate
  command: kubectl apply -f -
  args:
    stdin: "{{ azimuth_identity_operator_tls_wildcard_secret_definition | to_nice_yaml }}"
  vars:
    azimuth_identity_operator_tls_wildcard_secret_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ azimuth_identity_operator_tls_secret_name }}"
        namespace: "{{ azimuth_identity_operator_release_namespace }}"
      type: kubernetes.io/tls
      stringData:
        tls.crt: "{{ azimuth_identity_operator_tls_certificate }}"
        tls.key: "{{ azimuth_identity_operator_tls_key }}"
  when: azimuth_identity_operator_tls_certificate

- name: Install Azimuth identity operator on target Kubernetes cluster
  kubernetes.core.helm:
    chart_ref: "{{ azimuth_identity_operator_chart_name }}"
    chart_repo_url: "{{ azimuth_identity_operator_chart_repo }}"
    chart_version: "{{ azimuth_identity_operator_chart_version }}"
    release_namespace: "{{ azimuth_identity_operator_release_namespace }}"
    release_name: "{{ azimuth_identity_operator_release_name }}"
    release_values: "{{ azimuth_identity_operator_release_values }}"
    atomic: yes
    create_namespace: yes
    wait: yes
    wait_timeout: "{{ azimuth_identity_operator_wait_timeout }}"
