---
- name: Create Harbor release namespace
  ansible.builtin.command: kubectl create namespace {{ harbor_release_namespace }}
  register: harbor_create_namespace
  changed_when: harbor_create_namespace.rc == 0
  failed_when: >-
    harbor_create_namespace.rc != 0 and
    'AlreadyExists' not in harbor_create_namespace.stderr

- name: Install trust bundle
  ansible.builtin.command: kubectl apply -f -
  args:
    stdin: "{{ harbor_trust_bundle_secret_definition | to_nice_yaml }}"
  vars:
    harbor_trust_bundle_secret_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ harbor_trust_bundle_secret_name }}"
        namespace: "{{ harbor_release_namespace }}"
      stringData:
        ca.crt: "{{ harbor_trust_bundle }}"
  when: harbor_trust_bundle
  register: kubectl_harbor_trust_bundle
  changed_when: kubectl_harbor_trust_bundle.stdout_lines | select('match', '(?!.*unchanged$)') | length > 0

- name: Install wildcard TLS certificate
  ansible.builtin.command: kubectl apply -f -
  args:
    stdin: "{{ harbor_tls_wildcard_secret_definition | to_nice_yaml }}"
  vars:
    harbor_tls_wildcard_secret_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ harbor_tls_secret_name }}"
        namespace: "{{ harbor_release_namespace }}"
      type: kubernetes.io/tls
      stringData:
        tls.crt: "{{ harbor_tls_wildcard_certificate }}"
        tls.key: "{{ harbor_tls_wildcard_key }}"
  when: harbor_tls_wildcard_certificate
  register: kubectl_harbor_tls_cert
  changed_when: kubectl_harbor_tls_cert.stdout_lines | select('match', '(?!.*unchanged$)') | length > 0

- name: Install Harbor on target Kubernetes cluster
  kubernetes.core.helm:
    chart_ref: "{{ harbor_chart_name }}"
    chart_repo_url: "{{ harbor_chart_repo }}"
    chart_version: "{{ harbor_chart_version }}"
    release_namespace: "{{ harbor_release_namespace }}"
    release_name: "{{ harbor_release_name }}"
    release_values: "{{ harbor_release_values }}"
    atomic: true
    create_namespace: true
    wait: true
    wait_timeout: "{{ harbor_wait_timeout }}"

- name: Wait for Harbor API to become available
  # checkov:skip=CKV2_ANSIBLE_1: TLS is optional
  # checkov:skip=CKV_ANSIBLE_1: Certificate validation is optional
  ansible.builtin.uri:
    url: "{{ harbor_external_url }}/api/v2.0/projects"
    method: GET
    user: admin
    password: "{{ harbor_admin_password }}"
    force_basic_auth: true
    timeout: 5
    ca_path: "{{ harbor_ca_path }}"
    validate_certs: "{{ harbor_validate_certs }}"
  register: harbor_api_available
  until: harbor_api_available is succeeded
  retries: 60
  delay: 10

- name: Create proxy cache projects
  ansible.builtin.include_tasks: proxy_cache_project.yml
  loop: "{{ harbor_proxy_cache_projects.values() }}"
  loop_control:
    loop_var: project
    label: "{{ project.name }}"

- name: Set registry mirrors fact
  ansible.builtin.set_fact:
    harbor_registry_mirrors: >-
      {%- set mirrors = {} -%}
      {%- for registry, project in harbor_proxy_cache_projects.items() -%}
        {%- set _ = mirrors.update({
          registry: {
            "url": "{}/v2/{}".format(harbor_external_url, project.name),
            "skipVerify": not harbor_tls_enabled | bool
          },
        }) -%}
      {%- endfor -%}
      {{ mirrors }}

- name: Install Grafana dashboard for Harbor metrics
  ansible.builtin.command: kubectl apply -f -
  args:
    stdin: "{{ harbor_dashboard_definition | to_nice_yaml }}"
  vars:
    harbor_dashboard_definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: harbor-grafana-dashboard
        namespace: "{{ harbor_release_namespace }}"
        labels:
          grafana_dashboard: "1"
      data:
        harbor_dashboard.json: |-
          {{ lookup('file', 'grafana_dashboard.json') | from_json | to_nice_json }}
  register: kubectl_harbor_grafana_dashboard
  changed_when: kubectl_harbor_grafana_dashboard.stdout_lines | select('match', '(?!.*unchanged$)') | length > 0

- name: Configure custom alerting rules for Harbor
  ansible.builtin.command: kubectl apply -f -
  args:
    stdin: "{{ harbor_alert_rules_definition | to_nice_yaml }}"
  vars:
    harbor_alert_rules_definition:
      apiVersion: monitoring.coreos.com/v1
      kind: PrometheusRule
      metadata:
        name: harbor-alerting-rules
        namespace: "{{ harbor_release_namespace }}"
        labels:
          release: kube-prometheus-stack
      spec:
        groups:
          - name: harbor.rules
            rules:
              - alert: HarborDeploymentUnhealthy
                expr: harbor_health != 1
                for: 30m
                annotations:
                  message: "{% raw %}The Harbor deployment is reporting an unhealthy status (harbor_health = {{ $value }}){% endraw %}"
                labels:
                  severity: warning
  register: kubectl_harbor_alert_rules
  changed_when: kubectl_harbor_alert_rules.stdout_lines | select('match', '(?!.*unchanged$)') | length > 0
