#####
# This playbook deploys the portal onto an existing Kubernetes cluster
#####

- hosts: azimuth_deploy
  roles:
    # Configure alerting
    - role: stackhpc.azimuth_ops.alertmanager_config
      when: >-
        alertmanager_config_slack_webhook_url is defined and
        alertmanager_config_slack_webhook_url
    - role: stackhpc.azimuth_ops.certmanager
      # cert-manager is required for Cluster API
      when: certmanager_enabled or azimuth_kubernetes_enabled
    - role: stackhpc.azimuth_ops.harbor
      when: harbor_enabled
    - role: stackhpc.azimuth_ops.cloud_metrics
      when: cloud_metrics_enabled
    - role: stackhpc.azimuth_ops.clusterapi
      when: azimuth_kubernetes_enabled
    - role: stackhpc.azimuth_ops.awx
      when: azimuth_clusters_enabled
    - role: stackhpc.azimuth_ops.consul
      when: azimuth_apps_enabled or azimuth_clusters_enabled
    - role: stackhpc.azimuth_ops.zenith
      when: azimuth_apps_enabled
    - role: stackhpc.azimuth_ops.azimuth_capi_operator
      when: azimuth_kubernetes_enabled
    - stackhpc.azimuth_ops.azimuth
  environment:
    KUBECONFIG: "{{ kubeconfig_path | default('') }}"
