#####
# This playbook uses Terraform and Cluster API to restore an Azimuth management cluster from and existing backup source
#####

# Ensure CAPI management cluster is provisioned
- import_playbook: stackhpc.azimuth_ops.provision_cluster

# Initiate restore process
- hosts: k3s
  environment:
    # TODO: Is this a reliable way to construct the kubeconfig file name?
    KUBECONFIG: "{{ ansible_env.HOME }}/kubeconfig-{{ capi_cluster_release_name }}.yaml"
  tasks:
    - include_role:
        name: stackhpc.azimuth_ops.velero
        tasks_from: restore.yml

# Install any remaining Azimuth components after restore
- import_playbook: stackhpc.azimuth_ops.deploy
  vars:
    # In HA mode, use the kubeconfig for the HA cluster
    # In single node mode, use the default kubeconfig file
    kubeconfig_path: >-
      {{-
        "{}/kubeconfig-{}.yaml".format(ansible_env.HOME, capi_cluster_release_name)
        if install_mode == 'ha'
        else ""
      }}
