---

# The directory into which images will be downloaded / converted
# If not given, a temporary directory will be used
community_images_workdir:

# OpenStack credentials for uploading images
#   The value of the OS_CLOUD environment variable to use
community_images_os_cloud: >-
  {{-
    lookup(
      'env',
      'OS_CLOUD',
      default = undef(hint = 'OS_CLOUD is not set')
    )
  }}
#   This is the local path to the application credential
community_images_os_clouds_file_local: >-
  {{-
    lookup(
      'env',
      'OS_CLIENT_CONFIG_FILE',
      default = undef(hint = 'OS_CLIENT_CONFIG_FILE is not set')
    )
  }}
#   The directory/path to upload the clouds.yaml to
community_images_os_config_dir: "{{ ansible_env.HOME }}/.config/openstack"
community_images_os_clouds_file: "{{ community_images_os_config_dir }}/clouds.yaml"

# The disk format for the target cloud
community_images_disk_format: qcow2

# The repository to use for azimuth-images
community_images_azimuth_images_repo: https://github.com/stackhpc/azimuth-images
# The version of azimuth-images to use to populate the default community images
community_images_azimuth_images_version: 0.8.0
# The azimuth-images manifest URL
community_images_azimuth_images_manifest_url: >-
  {{ community_images_azimuth_images_repo }}/releases/download/{{ community_images_azimuth_images_version }}/manifest.json
# The azimuth-images manifest data
community_images_azimuth_images_manifest: >-
  {{ lookup('url', community_images_azimuth_images_manifest_url, split_lines = False) | from_json }}

# Generate community image specs for the images in the manifest
# We don't use all the images
community_images_azimuth_images: |-
  {
    {% for source_key, image in community_images_azimuth_images_manifest.items() %}
    {% if "kubernetes_version" in image and source_key.endswith("-jammy") %}
      {% set kube_version = image.kubernetes_version | regex_replace('^v', '') %}
      {% set kube_series = kube_version.split(".")[:-1] | join("_") %}
      {% set dest_key = "kube_" ~ kube_series %}
    {% elif source_key == "jupyter-repo2docker" %}
      {% set dest_key = "repo2docker" %}
    {% elif source_key == "ubuntu-desktop" %}
      {% set dest_key = "workstation" %}
    {% elif source_key == "linux-rstudio" %}
      {% set dest_key = "rstudio" %}
    {% else %}
      {% set dest_key = None %}
    {% endif %}
    {% if dest_key %}
    "{{ dest_key }}": {
      "name": "{{ image.name }}",
      "source_url": "{{ image.url }}",
      "checksum": "{{ image.checksum }}",
      "source_disk_format": "qcow2",
      "container_format": "bare",
      {% if "kubernetes_version" in image %}
      "kubernetes_version": "{{ image.kubernetes_version }}",
      {% endif %}
    },
    {% endif %}
    {% endfor %}
  }

# Slurm images are published by the ansible-slurm-appliance repo - https://github.com/stackhpc/ansible-slurm-appliance/
community_images_slurm_base_url: >-
  https://object.arcus.openstack.hpc.cam.ac.uk/swift/v1/AUTH_3a06571936a0424bb40bc5c672c4ccb1/openhpc-images
community_images_slurm:
  openhpc:
    name: openhpc-240116-1604-b3563a08  # https://github.com/stackhpc/ansible-slurm-appliance/pull/344
    source_url: "{{ community_images_slurm_base_url }}/openhpc-240116-1604-b3563a08"
    source_disk_format: qcow2
    container_format: bare

# The default community images to upload
community_images_default: >-
  {{ community_images_azimuth_images | combine(community_images_slurm, recursive = True) }}

# Any extra community images to upload as well as the defaults
community_images_extra: {}
  # # The key for the image, used to refer to the image ID elsewhere in Ansible variables
  # ubuntu_2004_20220411:
  #   # The name of the image
  #   name: Ubuntu-Focal-20.04-20220411
  #   # The source URL for the image
  #   source_url: https://cloud-images.ubuntu.com/focal/20220411/focal-server-cloudimg-amd64.img
  #   # The disk format of the image source
  #   source_disk_format: qcow2
  #   # The container format for the image
  #   container_format: bare

# The full set of community images to upload to the Azimuth project
community_images: >-
  {{ community_images_default | combine(community_images_extra, recursive = True) }}

# The default visibility for images
# Can be overridden on a per-image basis if required
community_images_default_visibility: community
# Indicates whether the visibility should be updated for pre-existing images
community_images_update_existing_visibility: true

# Any custom properties to set on community images
# Should be a list of strings in the format "key=value"
community_images_custom_properties: []

# The projects to explicitly share images with
# Only used if the default visibility is set to shared
community_images_share_projects: []
  # - key: "key of credential in clouds.yaml to use to accept the images"
  #   id: "id of project"
