{% if certmanager_acmehttp01issuer_eab_required %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ certmanager_acmehttp01issuer_eab_secret_name }}
  namespace: {{ certmanager_release_namespace }}
stringData:
  kid: "{{ certmanager_acmehttp01issuer_eab_kid }}"
  key: "{{ certmanager_acmehttp01issuer_eab_key }}"
{% endif %}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ certmanager_acmehttp01issuer_name }}
spec:
  acme:
    server: "{{ certmanager_acmehttp01issuer_server }}"
{% if certmanager_acmehttp01issuer_eab_required %}
    externalAccountBinding:
      keyID: "{{ certmanager_acmehttp01issuer_eab_kid }}"
      keySecretRef:
        name: {{ certmanager_acmehttp01issuer_eab_secret_name }}
        key: key
{% endif %}
    privateKeySecretRef:
      name: {{ certmanager_acmehttp01issuer_name }}-privkey
    solvers:
      - http01:
          gatewayHTTPRoute:
            parentRefs:
              - name: traefik-gateway
                namespace: {{ ingress_traefik_release_namespace }}
                kind: Gateway
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: ReferenceGrant
metadata:
  name: allow-certmanager
  namespace: {{ ingress_traefik_release_namespace }}
spec:
  from:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      namespace: {{ certmanager_release_namespace }}
  to:
    - group: gateway.networking.k8s.io
      kind: Gateway