---
crossplane_chart_name: crossplane
crossplane_chart_repo: https://charts.crossplane.io/stable
crossplane_chart_version: 2.2.0
crossplane_release_namespace: crossplane-system
crossplane_release_name: crossplane
crossplane_release_defaults: {}
crossplane_release_overrides: {}
crossplane_release_values: >-
  {{-
    crossplane_release_defaults |
      combine(crossplane_release_overrides, recursive = True)
  }}
crossplane_wait_timeout: 5m

crossplane_keycloak_provider_config_name: keycloak-config
crossplane_keycloak_provider_version: v2.14.0
crossplane_keycloak_provider_config_creds:
  client_id: admin-cli
  username: admin
  password: "{{ hostvars[groups['azimuth_deploy'][0]].keycloak_admin_password }}"
  url: "{{ hostvars[groups['azimuth_deploy'][0]].keycloak_base_url }}"

crossplane_providers: "{{ crossplane_providers_defaults + crossplane_providers_extra }}"
crossplane_providers_defaults:
  - name: keycloak
    package: xpkg.upbound.io/crossplane-contrib/provider-keycloak
    version: "{{ crossplane_keycloak_provider_version }}"
crossplane_providers_extra: []

crossplane_provider_configurations: "{{ crossplane_provider_configurations_default + crossplane_provider_configurations_extra }}"
crossplane_provider_configurations_default:
  - providerConfigName: "{{ crossplane_keycloak_provider_config_name }}"
    credentialsSecretName: keycloak-credentials
    providerApiVersion: keycloak.crossplane.io/v1beta1
    credentialsSecretKeyName: credentials
    credentialsContent: "{{ crossplane_keycloak_provider_config_creds | to_json }}"
crossplane_provider_configurations_extra: []

crossplane_provider_configuration_crds:
  - providerconfigs.keycloak.crossplane.io
